/*
Theme Name: Bowhunters
Theme URI: http://wordpress.org/themes/twentythirteen
Author: ich
Author URI: geht dich nix an

Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bowhunters

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
 
 body {
    background: silver;
    font-family: arial;
 }