form input[type="submit"],
form input.required ,
.form form,
.form footer {
  background:#FFF url(../images/formsprite.png) no-repeat;
}

form input::-ms-clear {
  display: none;
}

form input.required  {
  background-position: right -26px;
}

form input:valid {
  background-position: right 8px;
}

form textarea {
  resize: none;
}

form .form-group {
  margin: 0 0 10px;
}

form .form-group:last-child {
  margin: 0;
}

.form footer {
  height: 50px;
  background-color: #06C724;
  padding: 10px 6px;
  background-position:center -215px;
  background-color: #06C724;
}

.form form {
  background-position: center -293px;
  background-color: #038217;
  padding: 10px 6px;
  border: 0px;
}

.form  footer input[type="submit"] {
  background-color: #038217;
  background-position: right -66px;
  color: #06c724;
}