.panel {

    margin: 20px 0 0;
    border: 0;
    border-radius: 0;

    .panel-header {
      padding: 10px;
      background: @color_bhBackground;
    }

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }

    h2 {
      &:extend(.panel h1);
      font-size: 1.3em;
    }
}
