{{!-- wir müssen diese Ausgabe cachen und dann mit einer Reihe umhüllen bevor er irgendwas ausgibt --}}
<div class="row">
    {{#each this.member}}
        <div class="col col-md-6 col-lg-4">
            <div class="panel panel--tile">
                <h5 class="panel__header">{{this.name}}</h5>
                <div class="panel__content">
                    <img src="{{this.image}}" title="{{this.name}}" width="100%" />
                </div>
                <div class="panel__footer">
                    <dl class="row">
                        <dt class="col col-sm-6">Funktion</dt>
                        <dd class="col col-sm-6">{{this.role}}</dd>
                        <dt class="col col-sm-6">Bogen</dt>
                        <dd class="col col-sm-6">{{this.bow}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    {{/each}}
</div>
