<section
    id="leftSidebar"
    class="col col-md-4"
    data-view="guestbook_form"
    data-widget="guestbook/Form">
</section>
<section id="guestbookbody"
    role="main" 
    class="col col-md-8 guestbook"
    data-view="guestbook_page"
    data-widget="guestbook/Page">
</section>
