{{#each this.entries}}
    <section class="guest-article clearfix" >
    	<address class="col col-md-4"> 
    		<ul>
    			<li class="clearfix icon">
    				<i class="fa fa-user"></i>
    				{{author}}
    			</li>
    			{{#if email}}
    			<li>
    				<i class="fa fa-envelope"></i>
    				<a href="mailto:r.hannuschka@gmail.com">{{email}}</a>
    			</li>
    			{{/if}}
    			{{#if website}}
    			<li>
    				<i class="fa fa-globe"></i>
    				<a href="{{website}}">{{website}}</a>
    			</li>
    			{{/if}}
    		</ul>
    	</address>
    	<article class="col col-md-8">
    		{{{message}}}
    	</article>
    </section>
{{/each}}
