[data-widget="modul/guestbook/view/Form"] {

    .panel {
        background: @color_darkGreen;
    }

    .alert {
        margin: 0;
        border: 0;
        border-top: 1px solid @color_darkGreen;
        background-color: @color_bhBackground;
    }

    [data-form-view="error"] {
        border-radius: 0;

        .icon .fa {
            font-size: .8em;
        }
    }
}