.guestbook {

	.guest-article {

		padding: 10px 0;
		border-bottom: 1px solid #D4D4D4;

		address {
		
			text-overflow: ellipsis;
			overflow-x: hidden;

			li {
				display: block;
				line-height: 30px;
				clear: left;
				position: relative;

				& > i {
					margin: 0 5px 0 0;
					font-size: 22px;
					width: 22px;
					color: #333;
					text-align: center;
					float: left;
					line-height: 30px;
				}

				& > a {
					white-space: nowrap;
					position: absolute;
				}    
			}        
		}
	}

	.guest-article:last-child {
		border-bottom: 0;
	}

	.form {
		footer {
			position: relative;
		}

		canvas {
			position: absolute;
			right: 28px;
			top: 8px;
		}
	}
}
