ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.pagination {

    li {
        float: left;
        color: #0275D8;

        >:first-child {
            position: relative;
            margin-left: -1px;
            padding:.5rem .75rem;
            border: 1px solid #DDD;
            background-color: #FFF;
            float: left;
        }
    }

    li.disabled {
        color: #DDD;
    }

    li.active {
        color: #014C8C;
    }
}
