.main-navigation {

 	border-bottom: 1px solid #04981B;
 	text-align: center;
 	height: 67px;
    padding: 10px 0 0;
    background: rgba(0, 0, 0, .5);

    .menu-mainmenu-container {
        /**
         * remove margin after ul element
         * which is caused by inline-block
         */
        font-size: 0;
    }

	.menu {
		display: inline-block;
		list-style-type: none;
		padding: 0;
        margin: 0;
        -webkit-margin-after: 0;

		.menu-item {
			float: left;
			width: 57px;
			height: 57px;
			position: relative;
			color: #06C724;

			a {
				text-indent: 60px; 
				display: block;
				height: 100%;
				z-index:2; 
				overflow: hidden;
				position: relative; 
				outline: none;
				white-space: nowrap;
			}

			/**
			 * menu icons for main nav
			 */
		 	&:after {
				z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include fa-icon;
                font-size: 2rem;
			}

			&.home:after {
				content: $fa-var-home;
			}
			
			&.tournament:after{
				content: $fa-var-trophy;
			}
		
			&.information:after{
				content: $fa-var-info;
			}
			
			&.contact:after{
			    content: $fa-var-phone;
			}

			&.gallery:after {
				content: $fa-var-camera-retro;
			}

			&.guestbook:after {
				content: $fa-var-book;
			}

			/**
			 * active menu item
			 */
            &.current-page-ancestor, 
			&.current-menu-item {
				background-color: #FFF;
				border-radius: 6px 6px 0 0;
			}
		}
	}
}
