@import "compass/css3/border-radius";
@import "compass/typography/text/ellipsis";

.panel {

    .panel-heading {
        padding: 5px 15px;
        font-size: 1.3em;
        background: #06C724;

        h1, 
        h2, 
        h3, 
        h4 {
            padding: 0;
            margin: 0;
            font-size: inherit;
            line-height: 2em;
        }

        button {
            font-size: inherit;
			outline: none;
        }

        button[data-trigger="collapse"] {
            
            i {
                display: none;
            }

            &:before {
                font-family: FontAwesome;
                content: '\f01b'; 
            }

            &.open {

                &:before {
                    content: '\f01a'; 
                }
            }
        }
    }    

    .panel__header {
    }

    .panel__body {
    }

    .panel__footer {
    }
}

.panel--tile {

    margin-bottom: 1rem;
    border: 1px solid #DDD;
    @include border-radius(.4rem, .4rem);
    padding: .5rem;

    .panel__header {
        font-weight: 600;
        font-size:1rem;
        border-bottom: 1px solid #DDD;
        line-height: 2rem;
        @include ellipsis;
    }

    .panel__footer {
        margin-top: .5rem;
        padding-top: .5rem;
        border-top: 1px solid #DDD;
    }
}

.pagination-panel {

    .simple-pagination {
        text-align: center;

        .pagination {
            display: inline-block;
        }
    }
}
