<ul class="alert alert-danger" data-form-view="error">
    {{#each this}}
        <li class="clearfix icon">
            <i class="fa fa-asterisk"></i>
            <span>
                {{{message}}}
            </span>
        </li>
    {{/each}}
</ul>