<form method="post" action="#" id="form-{{id}}" data-form="form-{{id}}" role="form">
    <div class="form-group">
        <input type="text" 
            class="required form-control" 
            name="name" 
            placeholder="Name" />
    </div>
    <div class="form-group">
        <input type="email" 
            name="email" 
            class="form-control" 
            placeholder="E-Mail" />
    </div>
    <div class="form-group">
        <input type="url" 
            class="form-control" 
            name="website" 
            placeholder="http://www.ihre-webseite.de" />
    </div>
    <div class="form-group">
        <textarea name="message" 
            class="form-control" 
            name="message" 
            placeholder="Ihre Nachricht" 
            cols="30" rows="7">
          </textarea>
    </div>
</form>
<footer>
    <input type="submit" 
        data-form-submit="form--{{id}}
        form="form-{{id}}" 
        class="form-sprite btn btn-md pull-right" 
        value="senden" />
</footer>
