<header class="{{header.class}} clearfix" data-panel-section="header-{{id}}">
    {{#hidden collapsible "up"}}
        <button class="
            {{#if class}}
                {{class}}
            {{/if}} 
            btn pull-right btn-xs" 
            data-trigger="collapse"
        >
            <i class="fa"></i>
        </button>
    {{/hidden}}
    <h2>{{{header.title}}}</h2>
</header>
