{{#*inline "pagination"}}
    <nav data-widget="lib/Pagination" 
        data-pagination="{{id}}"
        data-items-total="{{pagination.total}}"
        data-items-on-page="{{pagination.itemsOnPage}}"
    >
    </nav>
{{/inline}}

<section class="{{class}}">
    {{> (lookup header 'template') this}} 
    {{> pagination}}
    <div class="panel-body {{body.class}}" data-panel-section="body-{{id}}">
        {{> (lookup body 'template') this}}
    </div>
    {{> pagination}}
</section>
