<section class="{{class}}">
    {{> (lookup header 'template') }}
    <div class="{{body.class}}
            {{#hidden collapsible "down"}}
                {{class}}
            {{/hidden}}
        " 
        data-panel-section="body-{{id}}">
        {{> (lookup body 'template') }}
    </div>
</section>
