{{#* inline "tablerows" }}

    {{#each this}}
        <tr>
            {{#each this}}
                <{{../../tagname}}>{{this}}</{{../../tagname}}>
            {{/each}}
        </tr>
    {{/each}}
{{/inline}}

<table>

    <thead>
    </thead>
    <tbody>
        {{> tablerows table.body tagname="td"}}
    </tbody>
</table>
