@import '../_mixins/icons.less';

#header {
  height: 205px;
  display: block;
  padding: 148px 0 0;
  background: @color_bhBackground url(@images_banner) top center no-repeat;

  #mainnav {
    display: block;
    border-bottom: 1px solid #04981B;
    text-align: center;
    height: 57px;

    ul {
      display: inline-block;
      list-style-type: none;

      li {
        float: left;
        width: 57px;
        height: 57px;
        font-size: 0;

        &.home { .spriteIcon('home') }
        &.tournament{ .spriteIcon('tournament') }
        &.information{ .spriteIcon('information') }
        &.contact{ .spriteIcon('contact') }
        &.gallery{ .spriteIcon('gallery') }
        &.guestbook{ .spriteIcon('guestbook') }
        &.current-menu-item {
          background-color: #FFF;
          border-radius: 6px 6px 0 0;
          height: 58px;
        }

        a {
          height: 100%;
          display: block;
        }
      }
    }
  }
}
