@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
  font-style: normal;
}

body {
  background: #11271B;
  font-family: "Open Sans";
}

* {
  margin: 0;
  padding: 0;
}

#layout {
  background: #FFF;
}

ul, ol {
  list-style-type: none;
}

.icon {
  line-height: 24px;
  clear: left;

  > * {
    float: left;
  }

  i.fa {
    font-size: 21px;
    line-height: 24px;
    margin: 0 5px 0 0;
  }
}
