.main-navigation {

 	display: block;
 	border-bottom: 1px solid #04981B;
 	text-align: center;
 	height: 57px;

	ul {
		display: inline-block;
		list-style-type: none;

		li {
			float: left;
			width: 57px;
			height: 57px;
			font-size: 0;

			&.home { .icon(home) }
			&.tournament{  }
			&.information{  }
			&.contact{  }
			&.gallery{  }
			&.guestbook{  }
			&.current-menu-item {
				background-color: #FFF;
				border-radius: 6px 6px 0 0;
				height: 58px;
			}

			a {
				height: 100%;
				display: block;
			}
		}
	}
}
