.sprite {
  background: url(../images/mainsprite.png) no-repeat;
}

.spriteIcon (@name) when (@name = 'home') {
  background-position: 5px 3px;
}

.spriteIcon (@name) when (@name = 'tournament') {
  background-position: 5px -60px;
}

.spriteIcon (@name) when (@name = 'information') {
  background-position: -52px -60px;
}

.spriteIcon (@name) when (@name = 'contact') {
  background-position: 5px -183px;
}

.spriteIcon (@name) when (@name = 'gallery') {
  background-position: 5px -121px;
}

.spriteIcon (@name) when (@name = 'guestbook') {
  background-position: -52px -120px;
}