//font-weights
$light: 100;
$regular: 400;
$bold: 600;

// base font
$base-font-family: "Open Sans", sans-serif;
$base-font-weight: $regular;
$base-fone-size: 16px;
$base-line-height: 1.4;

html {
    font-family: "Open Sans";
}

// page
body {
    background: #000;
}

