body {
  background: #11271B;
  font-family: "Open Sans";
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
    background:#FFF;
    padding: 15px;
}

@media @bs3-lg {
    
    .hidden-md-down {
        display: block !important;
    }
}

@media @bs3-md {
    
    .hidden-lg-up,
    .hidden-sm-down {
        display: block !important;
    }
}

@media @bs3-sm {

    .hidden-md-up, 
    .hidden-xs-down {
        display: block !important;
    }
}

@media @bs3-xs {

    .hidden-sm-up {
        display: block !important;
    }

    #contentwrap {
        min-height: 400px;
    }
}
