#header {
 	height: 205px;
	display: block;
	padding: 142px 0 0;
    margin-bottom: ($grid-gutter-width/2);
    background: #06C724;

    .main-navigation {
        height: 64px;
        padding: 8px 0 0;
    }
}
